.popup__save-button {
width: 358px;
height: 50.15px;
border-radius: 2px;
margin: 44px 36px 36px;
background-color:#000000; 
color: white;
padding: 0;




}


.popup__save-button:hover {
background: rgba(0, 0, 0, 0.8);
cursor: pointer;
}



@media screen and (max-width: 556px) {

    .popup__save-button {
width: 238px;
height: 46px;
margin-left: 22px;
margin-right: 22px;
        

    }
     
    }